<link rel="stylesheet" type="text/css" href="../assets/login.css"/>

<div class="logo"></div>
<div class="login-block">
      <h1>Sign up</h1> 

<%= form_for(:user, url: users_path) do |f| %>
  <%= f.label 'username(Slack name including @)' %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :first_name  %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.submit "Create Account" %>
<% end %>
