<link rel="stylesheet" type="text/css" href="../assets/login.css"/>

<div class="logo"></div>
<div class="login-block">
      <h1>Add a Book</h1> 

<%= form_for(:book, url: books_path) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :isbn %>
  <%= f.text_field :isbn %>

  <%= f.collection_select :category_id, Category.all, :id, :title %>

  <%= f.submit "Create Book" %>
<% end %>

<%= link_to "Create Category", new_category_path %>
