<div class ="blurry">
</div>

<head>
<link rel="stylesheet" type="text/css" href="../assets/book-show.css"/>

<span><nav>
  <div class="navbar-show">
<a href="/books/new">Add Book</a>
<a href="/categories/new">Add Category</a>
<a href="/books">Books</a>
</div><span>

</head>
<span>
<div class="container" >
  <div class="my-cool-wrapper">
     <div class="text-and-images-on-top">
          <%= image_tag("http://covers.openlibrary.org/b/isbn/#{@book.isbn}-M.jpg") %>
            <h6>Title: </h6><h5><%= @book.title %></h5>
            <h6>Author: </h6><h5><%= @book.author  %></h5>
            <% if @book.borrowed == true %>
              <h6>**This book is currently being borrowed**</h6>
              <% end %>

              <% if @book.borrowed == false %>
                <h7><%= form_for @book do |t| %>
                   <%= t.hidden_field :borrowed, :value=> true %>
                   <%= t.submit "Borrow Book" %>
                   <% end %>
                   </h7><%= button_to "Send notification to Owner", { :controller => "books", :action => "send_to"} %>
                   <% end %>
                   




                <h4> <%= link_to_if(current_user == @book.user, "Edit", edit_book_path(@book)) %></h4>
                <h4> <%= link_to_if(current_user == @book.user, "Delete", book_path(@book), method: :delete) %></h4>
</div>


            </div>
     <div class="transparent-background">
     </div>
</div>



<div class="my-right-wrapper">
   <div class="text-and-images">
      <h2>Similar Books</h2>
      <% @book.category.books.each do |book| %>
        <p><%= image_tag("http://covers.openlibrary.org/b/isbn/#{book.isbn}-M.jpg") %>
          <h5><%= book.title %></h5>
          <h5><%= book.author  %></h5>
        <% end %>
   </div>
   <div class="transparent-background">
   </div>
</div>
</div>
