

<%= image_tag("http://covers.openlibrary.org/b/isbn/#{@book.isbn}-M.jpg") %>
  <%= @book.title %>
  <%= @book.author  %>
  <%= @book.description %>
  <%= @book.user.first_name %>

<% if @book.borrowed == false %>
  <%= form_for @book do |t| %>
     <%= t.hidden_field :borrowed, :value=> true %>
     <%= t.submit "Borrow Book" %>
    <%= flash[:notice] %>
   <% end %>
   <%= button_to "Send notification to Owner", { :controller => "books", :action => "send_to"} %>
<% end %>

<% if @book.borrowed == true %>
  <h3>This book is currently being borrowed</h3>
  <% end %>

<h4> <%= link_to "Edit", edit_book_path(@book) %></h4>
<h4> <%= link_to "Delete", book_path, method: :delete %></h4>
