<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <title>BookShare</title>

  </head>

  <body>
    <div class="alert alert-info alert-dismissible fade show">
      <%= flash[:notice]  %>
 </div>

 </div>
    <%= yield %>
  </body>
  <div class="footer">
  <span><% if current_user %>
    <%= current_user.username %>
    <%= link_to "Logout", logout_path, method: :delete %></span>
  <% end %>
</html>
